﻿@model Record

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Numbers</li>
    </ol>
</nav>


<h2>Add Numbers</h2>

<form asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Numbers" class="control-label"></label>
        <textarea rows="5" asp-for="Numbers" class="form-control"></textarea>
        <span asp-validation-for="Numbers" class="text-danger"></span>
    </div>

    <div class="row">
        <div class="col">
            <label asp-for="Order" class="control-label"></label>
            <select asp-for="Order" asp-items="Html.GetEnumSelectList<Order>()" class="form-control">
                <option>Select Order</option>
            </select>
            <span asp-validation-for="Order" class="text-danger"></span>
        </div>
    </div>

    <br />

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>

</form>