﻿@model Record


<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" >Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Record" asp-action="Index" asp-route-order="Ascending">Data</a></li>
        <li class="breadcrumb-item active" aria-current="page">Numbers</li>
    </ol>
</nav>

<br />

<h2>Ordered numbers:</h2>

<br />

<p>@Model.Numbers</p>


