﻿@model IList<Record>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
</nav>

<div class="text-center">

    <br />

    <table class="table">
        <thead class="thead-light">

            <tr>
                <th class="text-primary">#</th>
                <th class="text-primary">Numbers (truncated view)</th>
                <th class="text-primary">Sorting time (milliseconds)</th>
                <th class="text-primary">Order of sorting</th>
                <th class="text-primary">     </th>
            </tr>

        </thead>
        <tbody>

            @foreach (var s in Model)
            {
                <tr>
                    <td>@s.Id</td>
                    <td>@s.Numbers.Substring(0, Math.Min(s.Numbers.Length, 30))</td>
                    <td>@s.TimeToSort.ToString().Substring(0, Math.Min(s.TimeToSort.ToString().Length, 20))</td>
                    <td>@s.Order</td>
                    <td><a class="btn btn-primary" asp-controller="Record" asp-action="GetRecord" asp-route-id=@s.Id>View numbers</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<br />
<div>
    @{
        if (Model.Count == 0)
        {
            <p><b>There is currently no data to display.</b></p>
        }
    }
</div>
<br />

<div class="text">
    <br />

    <a class="btn btn-primary" asp-controller="Record" asp-action="Create">Add Numbers</a>

    <br /> <br />
    <a class="btn btn-primary" asp-controller="Record" asp-action="Export" asp-route-order="Ascending">Export as XML - Ascending Order</a>
    <a class="btn btn-primary" asp-controller="Record" asp-action="Export" asp-route-order="Descending">Export as XML - Descending Order</a>

</div>
