﻿@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home page</h1>
        <p class="lead">This is the home page of the project.</p>

        <hr class="my-4">
        <p>Please click Data to view numbers in the database.</p>
        <p>Alternatively, please click Add Numbers to add numbers to the database.</p>

    </div>
</div>

<div class="text">
    <br />

    <a class="btn btn-primary" asp-controller="Record" asp-action="Create">Add Numbers</a>
</div>
